@page "/blog_post_detail/{postId:int}"

<style>
    body {
        background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;
    }
</style>
<div class="container-fluid">
    <div class="d-flex">
        <img src="@BlogPostDto.PostImageAddress" class="img-fluid" alt="@BlogPostDto.PostImageAlt" />
    </div>
    <div class="row d-flex">
        <MudText Typo="Typo.h2" Class="mr-5" Align="Align.Right">
            @BlogPostDto.PostName
        </MudText>
    </div>
    <hr style="height:10px" />
    <div class="d-flex">
        <MudText Typo="Typo.body2" Align="Align.Right">
            @BlogPostDto.PostText
        </MudText>
    </div>
    <div class="d-flex">
        <MudText Typo="Typo.body2" Align="Align.Left">
            نویسنده:@BlogPostDto.PostAuthorName
        </MudText>
    </div>
</div>