@page "/faragostar_store"


<div class="row mb-5">
    <div class="col">
        <PolimerWebProj.Client.Pages.ManualPagination.StoreProductTable ProductDtos="productDtos"></PolimerWebProj.Client.Pages.ManualPagination.StoreProductTable>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <PolimerWebProj.Client.Pages.ManualPagination.Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></PolimerWebProj.Client.Pages.ManualPagination.Pagination>
    </div>
</div>