@page "/faragostar_weblog"


<div class="row mb-5">
    <div class="col">
        <PolimerWebProj.Client.Pages.ManualPagination.WeblogTable BlogPostDtos="blogPosts"></PolimerWebProj.Client.Pages.ManualPagination.WeblogTable>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <PolimerWebProj.Client.Pages.ManualPagination.Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ></PolimerWebProj.Client.Pages.ManualPagination.Pagination>
    </div>
</div>