<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Style="max-height: 300px; overflow-y: scroll">
            <MudAlert Severity="Severity.Info"  Style="border:8px double black; border-radius : 55px 78px 78px 55px;">
                <MudText Typo="Typo.h6" Color="Color.Default">
                    <div >
                        مجموعه ي پليمري فراگستر
                        با سال ها تلاش و تجربه در صعنت توليد و ساخت قطعات پليمري ،لاستيكي و همچنين واردات و صادرات محصولات نوين در صعنت هاي راه سازي،كشتي راني، پتروشيمي و نفت ،صنايع غذايي ،دارويي و ديگر موارد فعاليت دارد
                        اين مجموعه در راستاي جلب رضايت مشتريان و كليه ي شركت ها ميكوشد كه بهترين متريال و اقلام صنعتي را دراختيار مصرف كننده قرار دهد وضمنا خود را موظف ميداند  هرگونه از اجناس مصرفي فروخته شده را به هر دليل موجهه عودت و مرجوع بپذيرد ،همچنين اين مجموعه اهداف خود را با تلاش براي ساختن صعنتي معتبر تر در دنياي صنايع پليمري حائز اهميت ميشمارد.


                        شما ميتوانيد براي استعلام،بررسي محصولات ،قيمت به روز و انلاين و مشاوره رايگان از راه هاي ارتباطیه بخش 'ارتباط با ما' با مجموعه ي پليمر فراگستر در ارتباط باشيد
                    </div>
                </MudText>
            </MudAlert>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>