<MudDrawer @bind-Open="SideBarOpen" Elevation="1" Class="IBGCrosscheckPattern">
    <MudDrawerHeader Style="background-color:black;">
        <MudText Typo="Typo.h6" Color="Color.Error" Style="margin-top:10px; margin-left:15px;">
            <div class="IFArchitectsDaughter-Regular">
                Faragostar Polimer
            </div>
        </MudText>
    </MudDrawerHeader>
    <MudNavMenu Class="IBGCBlack IBGOpacity90">
        <MudNavLink Href="/" Match="NavLinkMatch.All" Class="ITshadowBlack">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="@Icons.Filled.Home" Color="Color.Error"/>
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div>
                            Home
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
        <AuthorizeView Roles="Adminstrator">
            <Authorized>
                <MudNavLink Href="/admin_dashboard_page" Match="NavLinkMatch.All" Class="ITshadowBlack">
                    <div class="row">
                        <div class="col-2">
                            <MudIcon Icon="@Icons.Filled.Dashboard" Color="Color.Error" />
                        </div>
                        <div class="col-9">
                            <MudText Typo="Typo.h6">
                                <div>
                                    DashBoard
                                </div>
                            </MudText>
                        </div>
                    </div>
                </MudNavLink>
            </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>
        <MudNavLink Href="/faragostar_weblog" Match="NavLinkMatch.All" Class="ITshadowBlack">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="@Icons.Filled.Book" Color="Color.Error"/>
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div>
                            Weblog
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
        <MudNavLink Href="/faragostar_store" Match="NavLinkMatch.All" Class="ITshadowBlack">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="@Icons.Filled.Store" Color="Color.Error"/>
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div>
                            Store
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
    </MudNavMenu>
</MudDrawer>
